html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas, #map_canvas, #loading {
  height: 80%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas, #loading {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
